<template>
    <!--p>input record id is: {recordId}</p-->
    <lightning-combobox
        name="project"
        label="Project"
        value={projectId}
        placeholder="Select Project"
        options={projectsList}
        onchange={handleSelectProject} ></lightning-combobox>
    
    <lightning-combobox
        name="workPackage"
        label="Work Package"
        value={workPackageId}
        placeholder="Select Work Package"
        options={workPackagesList}
        disabled={isProjectUnset}
        onchange={handleSelectWorkPackage} ></lightning-combobox>
    
    <lightning-combobox
        name="workActivity"
        label="Work Activity"
        value={workActivityId}
        placeholder="Select Work Activity"
        options={workActivitiesList}
        disabled={isWorkPackageUnset}
        onchange={handleSelectWorkActivity} ></lightning-combobox>

</template>