<template>
    <article class="slds-card">
        <table>
            <tr>
                <td>
                    <div class="slds-grid">
                        <div class="slds-col slds-m-top_large">
                            <lightning-button-icon icon-name="utility:left" disabled={isPeriodUnset} alternative-text="Shift period backward" title="Shift period backward" onclick={shiftPeriodBackward}></lightning-button-icon>
                        </div>
                        <div class="slds-col">
                            <lightning-input type="date" name="startDateCriteria" label="Start Date" date-style="short" value={startDateCriteria} onchange={handleStartDateCriteriaChange}></lightning-input>
                        </div>
                        <div class="slds-col slds-m-top_large slds-m-left_xx-small">
                            <lightning-button-icon icon-name="utility:add" disabled={isStartDateUnset} alternative-text="Increment Start Date" title="Increment Start Date" onclick={increaseStartDate}></lightning-button-icon>
                        </div>
                        <div class="slds-col slds-m-top_large">
                            <lightning-button-icon icon-name="utility:dash" disabled={isStartDateUnset} alternative-text="Decrement Start Date" title="Decrement Start Date" onclick={decreaseStartDate}></lightning-button-icon>
                        </div>
                        <div class="slds-col">
                            <lightning-input type="date" name="endDateCriteria" label="End Date" date-style="short" value={endDateCriteria} onchange={handleEndDateCriteriaChange}></lightning-input>
                        </div>
                        <div class="slds-col slds-m-top_large slds-m-left_xx-small">
                            <lightning-button-icon icon-name="utility:add" disabled={isEndDateUnset} alternative-text="Increment End Date" title="Increment End Date" onclick={increaseEndDate}></lightning-button-icon>
                        </div>
                        <div class="slds-col slds-m-top_large">
                            <lightning-button-icon icon-name="utility:dash" disabled={isEndDateUnset} alternative-text="Decrement End Date" title="Decrement End Date" onclick={decreaseEndDate}></lightning-button-icon>
                        </div>
                        <div class="slds-col slds-m-top_large">
                            <lightning-button-icon icon-name="utility:right" disabled={isPeriodUnset} alternative-text="Shift period backward" title="Shift period backward" onclick={shiftPeriodForward}></lightning-button-icon>
                        </div>
                        <div class="slds-col">
                            <lightning-combobox name="scale" label="Scale" value={scale} placeholder="Select Time scale" options={timeScaleOptions} onchange={handleTimeScaleChange}></lightning-combobox>
                        </div>
                    </div>
                </td>
            </tr>
            <template if:false={isPeriodUnset}>
                <tr>
                    <td>
                        <lightning-datatable key-field="id" data={data} columns={columns} onrowselection={getSelectedUser}></lightning-datatable>
                    </td>
                </tr>
            </template>
            <template if:false={isUserUnselect}>
                <tr>
                    <td>
                        <lightning-datatable key-field="id" data={userAssignments} columns={columnsUserAssignment}></lightning-datatable>
                    </td>
                </tr>
            </template>
        </table>
        <template if:true={error}>
            <div>{error}</div>
        </template>
    </article>
</template>