<template>
    <lightning-card title="Skill Assessment" class="slds-m-left_x-small" icon-name="utility:all">
        <article class="slds-card">
            <div class="slds-card__body slds-card__body_inner">
                <template if:true={userSkills.data}>
                    <template for:each={userSkills.data} for:item="currentSkill">
                        <lightning-input key={currentSkill.Id} data-element="assessment-checkbox" type="checkbox" label={currentSkill.Name} checked={currentSkill.Id} onchange={assessSkills}></lightning-input>
                    </template>
                </template>
            </div>
        </article>
    </lightning-card>
</template>